* { margin:0; padding:0; }
html::-webkit-scrollbar { 
    display: none; 
}
     

.textblock::-webkit-scrollbar { 
    display: none; 
}
.mainformat {
    background: url(https://images.unsplash.com/photo-1464852045489-bccb7d17fe39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80) no-repeat center center fixed ;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-attachment: fixed; */
    background-size: cover;
       
}
.navmenu {
    margin: auto;
    margin-top: 0px;
    max-width: 1000px;
}
li:hover {
    transform: scale(1.2);
}
header a:hover {  
    color: tomato; 
}

header ul {
    margin-right: 14px;
    text-align: right;
    white-space: nowrap;
}

header li {
    display: inline-block;
    list-style: none;
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bold;
    font-family: candara;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.8);
    
}
nav a {
    text-decoration: none;
    color: white;
}

header nav {
    position: relative;
    right: 0px;
    top: 20px;
}
footer li {
    display: inline-block;
    align-self: center;
    font-family: candara;
    text-transform: uppercase;
    margin: 4px 10px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.8);
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: tomato;
}
footer ul {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 5px;

    white-space: nowrap;
}
footer {
    position: fixed;
    left: 0px;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
body {
    position: relative;
    width: 100%;
    align-content: center;
}
#aright {

}
.textblock {
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    max-width: 1000px;
    max-height: 800px;
    align-content: center;
    overflow: auto;
    padding-bottom: 100px;
    
    
}
a img:hover {
    transform: scale(1.2);
    color: white;
    /* border: 5px solid white; */
}
.pics {
    max-height: 230px;
    margin: 20px;
    border: 2px solid;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.623);
    
}
#pic {
    text-decoration: none;
    border: 0 none;
}
#pic:hover {
    /* transform: scale(1.2); */
}
.h1block {
    text-align: left;
    padding: 60px;
    margin-top: 40px;
    max-width: 600px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.8);
    
}
.h2block {
    text-align: left;
    padding: 60px;
    margin-top: 0px;
    margin-left: 280px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.8);
    max-width: 600px;
    
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: lighter;
}
.righth2 {
    text-align: right;
}
h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
    
}
p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    /* font-weight: bold; */
    font-style: italic;
    text-indent: 2em;
}
#texttitle {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 300;
    margin-top: 80px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.8);
    
}
.form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    max-width: 1000px;  
    color: white;
}

#nameform {
    margin-left: 200px;  
    margin-top: 20px;
}
#emailform {
    margin-left: 193px;
    margin-top: 20px;
}
#commentsform {
    margin-left: 151px;
    margin-top: 20px;
}
#submitform {
    margin-left: 242px;
    margin-top: 20px;
    
}

/* ANIMATIONS */

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* KEYFRAMES */

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  

 @-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  

 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
/* KEYFRAMES END */

/* ANIMATIONS END */


.acme {
    font-family: 'Acme', sans-serif;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
/* FONTS END */
